#privateMessageForm {
    width: 314px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 1rem;
    position: fixed;
    top: 34%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: none;
    /* z-index: 10000; */
    opacity: 1;
}


#privateMessageForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
  }

  #privateMessageForm #btn {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #privateMessageForm #btn:hover {
    background-color: #45a049;
  }