<!DOCTYPE html>
<html>
<head>
    <title>Login/Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
<div id="notification" class="notification"></div>
<div class="container">
    <h1 class="monoton-regular">FORUM</h1>
    <div class="form-container">
        <h1 id="form-title" style="margin-bottom: 20px; color: white">log in</h1>

        <!-- Login Form -->
        <form id="loginForm" class="form" method="POST" action="/login">
            <div class="input-group">
                <input type="text" id="loginEmailOrUsername" name="email" required>
                <label for="loginEmailOrUsername">Email or username</label>
            </div>
            <div class="input-group">
                <input type="password" id="loginPassword" name="password" required>
                <label for="loginPassword">Password</label>
            </div>
            <div  id="passwordMessage1" class="passwordMessage"></div>
            <button type="submit" class="btn-primary">Log in</button>
        </form>

        <!-- Signup Form -->
        <form id="signupForm" class="form hidden" method="POST" action="/register">
            <div class="input-group">
                <input type="text" id="signupName" name="username" required>
                <label for="signupName">Username</label>
            </div>
            <div class="input-group">
                <input type="email" id="signupEmail" name="email" required>
                <label for="signupEmail">Email</label>
            </div>
            <div class="input-group">
                <input type="password" id="signupPassword" name="password" required>
                <label for="signupPassword">Password</label>
            </div>
            <div class="input-group">
                <input type="password" id="signupConfirmPassword" name="confirmPassword" required>
                <label for="signupConfirmPassword">Confirm password</label>
            </div>
            <div  class="passwordMessage" id="passwordMessage2"></div>
            <button type="submit" class="btn-primary">Sign up</button>
        </form>

        <!-- Switch Form -->
        <div class="switch-form">
            <span id="switchText">Don't have an account?</span>
            <button id="switchBtn" class="btn-text">Sign up</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/login.js"></script>
</body>
</html>