<!--  # Login page.-->
<!-- login.js -->
<!-- login.css -->
<!DOCTYPE html>
<html>
<head>
    <title>login/signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>

<div class="container">
    <!-- form container -->
    <div class="form-container">
        <h1 id="form-title">Log in to forum</h1>
        <!-- login form -->
        <form id="loginForm" class="form">
            <div class="input-group">
                <input type="text" id="loginEmailOrUsername" required>
                <label for="loginEmailOrUsername">email or username</label>
            </div>
            <div class="input-group">
                <input type="text" id="loginPassword" required>
                <label for="loginPassword">password</label>
            </div>
            <!-- submit login details-->
            <button type="submit" class="btn-primary">log in</button>
        </form>

        <!-- signup form -->
        <form id="signupForm" class="form hidden">
            <!-- enter username here -->
            <div class="input-group">
                <input type="text" id="signupName" required>
                <label for="signupName">username</label>
            </div>

            <!-- enter email here -->
            <div class="input-group">
                <input type="email" id="signupEmail" required>
                <label for="signupEmail">email</label>
            </div>

            <!-- enter password here -->
            <div class="input-group">
                <input type="email" id="signupPassword" required>
                <label for="signupPassword">Password</label>
            </div>
            <!-- submit for signup -->
            <button type="submit" class="btn-primary">sign up</button>
        </form>

        <div class="switch-form">
            <span id="switchText">Don't have an account?</span>
            <button id="switchBtn" class="btn-text">Sign up</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/login.js"></script>
</body>

</html>