# Ignore SQLite database files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Ignore SQLite temporary/journal files
*.db-journal
*.sqlite-journal
*.sqlite3-journal

# Ignore backup database files
*.db-backup
*.sqlite-backup
*.sqlite3-backup

# Ignore html test design files
view_tests
template_tests

# Ignore Jetbrains IDE settings
.idea
