<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/welcome.css">
    <title>welcome-container</title>
</head>
<body>

    <div class="container">
        <div class="welcome-container">
            <div class="left">
            </div>
            <div class="right">
                <div class="welcome-message">
                    <h1>Welcome To Real-Time Forum</h1>
                    <h3>Please Sign In / Sign Up to continue</h3>
                </div>
                <div class="buttons" role="group">
                    <button id="loginBtn">Login</button>
                    <button id="signUpBtn">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>