<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Forum</title>
    <link rel="stylesheet" href="/static/css/err.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
<div class="error">
    <h1 class="forum-title monoton-regular">Forum</h1>
    <div class="form-container error-container">
        <h1 class="error-code monoton-regular">{{.Code}}</h1>
        <h2 class="error-title">{{.Message}}</h2>
        <a href="/"><button id="homeButton" class="btn-primary">Back to Home</button></a>
    </div>
</div>
</body>
</html>
